.list{
    list-style: none;
    padding: 0;
  }
  .list-item{
      font-size: 20px;
      padding: 5px;
      display: block;
      background: #fff;
      border-radius: 3px;
      margin: 4px;
      text-align: center;
  }