*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
h1{
    font-size: 5rem;
}
p{
    font-size: 3.2rem;
}
.header
{
    margin: 2rem 1rem;
background-image:linear-gradient(to right bottom, rgba(0, 128, 0, 0.3) ,
 rgba(255, 255, 0, 0.9)),
 url(./pexels-photo-210186.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
clip-path: polygon(0px 0px, 100% 0px , 100% 70vh,0px 85vh);
-webkit-clip-path: polygon(0px 0px, 100% 0px , 100% 70vh,0px 85vh);
/* clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%); */
/* clip-path: circle(20% at 20% 20%); */
/* https://bennettfeely.com/clippy/ */
height: 85vh;
width: 50%;
}