.dropdown{
    position: relative;
    display: inline-block;
}
.drobdownContent{
    display: none;
    position: absolute;
    background-color: lightgreen;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    padding: 13px 16px;

}
.dropdown:hover>.drobdownContent{
    display: block;
}
