*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

@keyframes slowShow{
from{opacity: 0;}
to{opacity:1;}
}


div.animated{
    width: 20rem;
    height: 20rem;
    opacity: 1;
    background-color: red;
    border: 3px solid black;
    animation-name: slowShow;
    animation-duration: 10s;
    animation-delay: 2s;
    
}
@keyframes moveRight{
    from{
        transform: translateX(-100%);
        
    }
    to{
        transform: translateX(0);
        
    }
    }
div.moved{
    height: 80vh;
    clip-path: polygon(0 0,100% 0,100% 60vh,0 80vh);
    background-image:linear-gradient(to right,rgba(0, 128, 0, 0.418),rgba(255, 0, 0, 0.39),rgba(255, 166, 0, 0.37)), url(./hero.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    animation-name: moveRight;
    animation-duration: 1s;
    animation-delay: 0.2s;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10rem;
    /* animation-direction: alternate; */
    /* animation-iteration-count: infinite; */
    animation-timing-function: cubic-bezier(.33,1.31,.63,.02);
    animation-fill-mode: backwards;
position: relative;
    
}
@keyframes titleAnimation{
    0%{
        opacity: 0;
        transform: translate(10rem,-50%);
    }
    80%{
        
        transform: translate(-60%,-50%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    }
div.moved>div>:nth-child(1){
    text-align: center;
    font-size: 5rem;
    /* margin-top: 30rem; */
    animation-name: titleAnimation;
    animation-duration: 1s;
    animation-delay: 1.5s;
    /* animation-direction: alternate; */
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: cubic-bezier(.33,1.31,.63,.02); */
    animation-fill-mode: backwards;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
@keyframes titleAnimation1{
    0%{
        opacity: 0;
        transform: translate(-10rem,-10rem);
    }
    80%{
        
        transform: translate(3rem,3rem);
    }
    100%{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    }
div.moved>div>:nth-child(2){
    text-align: center;
    font-size: 5rem;
    margin-top: 5rem;
    animation-name: titleAnimation1;
    animation-duration: 1s;
    animation-delay: 1.5s;
    /* animation-direction: alternate; */
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: cubic-bezier(.33,1.31,.63,.02); */
    animation-fill-mode: backwards;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo{
    position: absolute;
    top: 1rem;
    left: 1rem;
    width:10rem;

}