.container{
    display: flex;
    background-color: aquamarine;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:  center;

    
}
.container>div{
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 50px;
}

.containerDiv{
    display: flex;
/* flex-direction: row-reverse; */
flex-wrap: wrap;
}
.head{
    height: 200px;
    flex: 100%;
    background-color: black;
}
.sideDiv{
    flex: 30%;
    max-width: 200px;
    height: 400px;
    background-color: skyblue;
}
.content{
    flex: 70%;
    height: 400px;
    background-color: lightgrey;
}
.footer{
    height: 200px;
    flex: 100%;
    background-color: black;
}