*{
    box-sizing: border-box;
}
.container{
    display: flex;
    background-color: aquamarine;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:  center;

    
}
.container>div{
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    font-size: 50px;
}

.containerDiv{
    display: flex;
/* flex-direction: row-reverse; */
flex-wrap: wrap;
}
.head{
    height: 200px;
    flex: 100%;
    background-color: black;
}
.sideDiv{
    border:1px solid black;
    flex: 20%;
    max-width: 200px;
    height: 400px;
    background-color: skyblue;
}
.content{
    border:1px solid black;
    flex: 60%;
    height: 400px;
    background-color: brown;
}
.footer{
    height: 200px;
    flex: 100%;
    background-color: black;
}

@media screen and (max-width : 800px){
    .sideDiv , .content{
        flex:100%;
        max-width: none;
    }
}
