*{
    box-sizing: border-box;
    min-height: 100vh;
}
body,html{
    margin: 0;
    display: flex;
    min-height: 100vh;
}
.main{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    flex-direction: row;
    min-height: 100vh;
}
.col-1{
    flex: 1;
    background-color: lightskyblue;
    min-height: 100vh;
}
.col-2{
    flex: 5;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
background-color: lightcoral;
flex:1;
max-height: 300px;
}
.content{
    background-color: white;
    flex:4;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    
}
.middel{
    flex:4;
    background-color:black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.aside{
    flex:1;
    background-color: lightseagreen;
    min-height: 100vh;
}
.article{
    /* flex:4; */
    background-color: white;
    min-height: 100vh;
}
.footer{
    /* flex:1; */
    background-color: lightgreen;
    min-height: 200px;
}