
.grid-container{
    display: grid;
grid-template-columns: auto auto auto auto auto  ;
grid-gap: 10px 5px;


/* vertical aligh */
align-content: space-around;

/* hirozontal aligh */
justify-content: space-around;


    background-color: blue;
    height:700px;

}

.grid-container>div{

    border:1px solid black;
    background-color: white;
    height:200px;
     min-width: 200px;
display: grid;
align-content: center;
justify-content: center;
}

#firstDiv{
    grid-column-start: 1;
    grid-column-end: 3;
}