nav.hor>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.445);
padding:10px;
position: fixed;
right: 0px;
left: 0px;
}
nav.hor>ul>li{
    display: inline-block;
    margin-left: 20px;
    /* padding-left:50px;
    padding-right:50px; */
    background-color: lightblue;
    font-size: 20px;
    border-radius: 20%;
    width:200px;
    text-align: center;
 }
 nav.hor>ul>li>a{
     text-decoration: none;
display: block;
text-transform: capitalize;
}
nav.hor>ul>li:hover{
    background-color: gold;
}
nav.hor>ul>li:hover>a{
    color: white;
    
}
nav.ver{
    max-width: 200px;
    background-color: black;
    border-radius: 10px;
}
nav.ver>a{
    text-decoration: none;
display: block;
background-color: lightblue;
text-align: center;
font-size: 22px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom: 10px;
    border-radius: 20%;
}

nav.ver>a:hover{
    background-color: gold;
    color: white;
}
#home{
    background-color: rgba(144, 238, 144, 0.376);
    height: 800px;
   


    /* text format */
    /* text-transform: lowercase; */
    text-indent: 50px; /* first space of the first line */
    letter-spacing: 5px;
    line-height: 1.5;
direction: rtl;
word-spacing: 25px;
/* text-shadow: 5px 5px 10px blue; */

    /* ///////////////////////////// */


    /* font syles */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic ;
font-weight: bold;
font-variant: small-caps;


    /* ///////////////////// */
}
#home>span{
    font-weight: bolder;
}
#about{
    background-color: lightgrey;
    height: 800px;
}
#services{
    background-color: lightpink;
    height: 800px;
}
#contact{
    background-color: lightskyblue;
    height: 800px;
}
#blog{
    background-color: lightyellow;
    height: 800px;
}