@import 'setting';


@mixin Animation($animationName ,$animationDuration , $animationDelay , $animationFillMode , $animationTimingFunction ) {
    animation-name: $animationName;
    animation-duration: $animationDuration;
    animation-delay: $animationDelay;
    animation-fill-mode: $animationFillMode;
    animation-timing-function: $animationTimingFunction;
    
}

div.animated{
    width: 20rem;
    height: 20rem;
    opacity: 1;
    background-color: red;
    border: 3px solid black;
    margin: 50px;
    resize: both;
    @include Animation(slowShow,10s ,2s ,initial ,initial );
    
}

div.moved{
    height: 80vh;
    clip-path: polygon(0 0,100% 0,100% 60vh,0 80vh);
    background-image:linear-gradient(to right,rgba(0, 128, 0, 0.418),rgba(255, 0, 0, 0.39),rgba(255, 166, 0, 0.37)), url(../hero.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid black;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10rem;  
    position: relative;
    @include Animation(moveRight,1s ,0.2s ,backwards , cubic-bezier(.33,1.31,.63,.02));
    &>div>:nth-child(1){
        text-align: center;
        font-size: 5rem;
        /* margin-top: 30rem; */
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include Animation(titleAnimation,1s ,1.5s ,backwards ,initial );
       
    }
    &>div>:nth-child(2){
        text-align: center;
        font-size: 5rem;
        margin-top: 5rem;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include Animation(titleAnimation1,1s ,1.5s ,backwards ,initial );
    }
    &>.logo{
        position: absolute;
        top: 1rem;
        left: 1rem;
        width:10rem;
    
    }
}
div.resized{
    width: 20rem;
    opacity: 1;
    background-color: lightblue;
    border: 3px solid black;
    margin: 50px;
    resize: vertical;
    overflow: auto;
    
}
.newDiv{
    border: 2px solid black;
    height: 20rem;
    background-color: aqua;
    @include Animation(newDivAnimation,2s ,1s ,backwards ,cubic-bezier(.44,1.39,.82,-0.06) );
}
@keyframes newDivAnimation{
    0%{
        opacity: 0;
        width:0;
    }
    80%{
        
        width:50%;
    }
    100%{
        opacity: 1;
        width:100%;
    }
    }
@keyframes titleAnimation{
    0%{
        opacity: 0;
        transform: translate(10rem,-50%);
    }
    80%{
        
        transform: translate(-60%,-50%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    }

@keyframes titleAnimation1{
    0%{
        opacity: 0;
        transform: translate(-10rem,-10rem);
    }
    80%{
        
        transform: translate(3rem,3rem);
    }
    100%{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    }
    @keyframes moveRight{
        from{
            transform: translateX(-100%);
            
        }
        to{
            transform: translateX(0);
            
        }
        }
@keyframes slowShow{
        from{opacity: 0;}
        to{opacity:1;}
        }

