*{
    box-sizing: border-box;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float: left;
    padding: 15px;
    border: 1px solid black;
}
.row{
    width: 100%;
    float: left;
}

/* start of vertical navigation */

nav.vertical{
    min-height: 300px;
}
nav.vertical>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
nav.vertical>ul>li>a{
    text-decoration: none;
    display: block;
    box-shadow: 5px 5px 5px rgb(17, 76, 131);
    color: black;
}
nav.vertical>ul>li{
    flex:1;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid rgb(66, 66, 139);
    color: black;
}
nav.vertical>ul>li:hover{
    font-size: 18px;
    background-color: darkorange;
}
/* end of start of vertical navigation */


/* start of horizontal navigation */
nav.horizontal{
    /* min-height: 300px; */
}
nav.horizontal>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
nav.horizontal>ul>li>a{
    text-decoration: none;
    display: block;
    box-shadow: 5px 5px 5px rgb(17, 76, 131);
    color: black;
}
nav.horizontal>ul>li{
    flex:1;
    text-align: center;
    margin-right: 10px;
    border: 1px solid rgb(66, 66, 139);
    color: black;
}
nav.horizontal>ul>li:hover{
    font-size: 18px;
    background-color: darkorange;
}

/* end of start of horizontal navigation */