.main{
    display: flex;
    background-color: black;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.classA{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 100vh;
}
.classB{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: orange;
    height: 100vh;
}
.classC{
    flex:3;
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 100vh;
}
.firstA{
    flex:2;
    background-color: lightcyan;
    width: 100%;
}
.secondA{
    flex:3;
    background-color: lightpink;
    width: 100%;
}
.firstB{
    flex:2;
    background-color: lightsalmon;
    width: 100%;
}
.secondB{
    flex:2.25;
    background-color: lightslategray;
    width: 100%;
}
.thirdB{
    flex:0.75;
    background-color: linen;
    width: 100%;
}
.firstC{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: lightgreen;
    width: 100%;
}
.secondC{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: lemonchiffon;
    width: 100%;
}
.thirdC{
    flex:1;
    background-color: rgb(223, 125, 27);
    width: 100%;
}
.firstC1{
    width: 20vw;
    height: 80vh;
    background-color: blueviolet;
}
.secondC1{
    width: 40vw;
    height: 30vh;
    background-color: darkgreen;

}
.thirdC1{
    width: 20vw;
    height: 20vh;
    background-color: whitesmoke;
}
.fourthC1{
    width: 40vw;
    height: 20vh;
    background-color: brown;
}