.container{
    display: grid;
    grid-template-columns: auto auto auto ;
    background-color: blue;
    grid-gap: 10px;
    height: 100vh;

}

.container>div{

font-size: 50px;
    background-color: lightblue;
}
.container>div:nth-child(1){
    /* extend the div from column line 1 to three steps more */
/* grid-column: 1/ span 3; */

/*extend div  start row-line / start column-line / end row-line / end column-line*/
    grid-area:1/1/3/4;
    
}